<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString"
            connectionString="data source=DESKTOP-0PB93BP;&#xA;database=Manual;&#xA;Integrated Security=SSPI;&#xA;persist security info=True;"
            providerName="System.Data.SqlClient" />
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.BdJharetConnectionString"
            connectionString="Data Source=BdJharet.mssql.somee.com;Initial Catalog=BdJharet;User ID=josuejharet_SQLLogin_1;Password=72em44cnmr"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
